# Mount MMC partitions
on fs
	# mmcblk0p1: /boot
	mount ext4 /dev/block/mmcblk0p2 /system wait ro
	chmod 0755 /system
	mount ext4 /dev/block/mmcblk0p3 /cache wait
	# mmcblk0p4: extended partition container
	mount ext4 /dev/block/mmcblk0p5 /data wait
	# mmcblk0p6: /sdcard
