# Mount MMC partitions
on fs
	# mmcblk0p1: Kernel/bootloader partition
	# mmcblk0p2: /boot
	mount ext4 /dev/block/mmcblk0p3 /system wait ro
	chmod 0755 /system
	# mmcblk0p4: extended partition container
	mount ext4 /dev/block/mmcblk0p5 /cache wait
	mount ext4 /dev/block/mmcblk0p6 /data wait
	# mmcblk0p7: /sdcard
